html, body {
    padding-top: 30px; 
    height: 100%;
}

/* Sticky Footer */
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}
/* Set the fixed height of the footer here */
#footer {
  height: 60px;
}

/* Instant */
.photo-box{
	width: 420px;
	font-family: Comic Sans MS, Monotype Corsiva;
	color: #000000;
	border:1px solid #9DAFC6;
	padding:5px;
	background-color:#FFF;
	text-align : center;
}

/* Carousel with Thumbs */
.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}
.thumbnail {
    padding: 0;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}