{% extends "layout.html" %}
{% block image %}{{image}}{% endblock %}
{% block caption %}{{caption}}{% endblock %}
{% block content %}
<table align="center" cellspacing="2">
    <tr>
        <td class="ThumbBox">
            <a title="Gallery" href="/gallery/0">
                <img src="/images/TBBQ.jpg" alt="Picture" width="100" height="75" />
                <p class="ThumbCaption">
                    Deck
                </p>
            </a>
        </td>
        <td class="ThumbBox">
            <a title="Gallery" href="/gallery/1">
                <img src="/images/TEntrance.jpg" alt="Picture" width="75" height="100" />
                <p class="ThumbCaption">
                    Front Door
                </p>
            </a>
        </td>
        <td class="ThumbBox">
            <a title="Gallery" href="/gallery/2">
                <img src="/images/TLounge.jpg" alt="Picture" width="100" height="75" />
                <p class="ThumbCaption">
                    Lounge
                </p>
            </a>
        </td>
    </tr>
    <tr>
        <td class="ThumbBox">
            <a title="Gallery" href="/gallery/3">
                <img src="/images/TKitchen.jpg" alt="Picture" width="100" height="75" />
                <p class="ThumbCaption">
                    Kitchen
                </p>
            </a>
        </td>
        <td class="ThumbBox">
            <a title="Gallery" href="/gallery/4">
                <img src="/images/TBreakfastBar.jpg" alt="Picture" width="100" height="75" />
                <p class="ThumbCaption">
                    Breakfast Bar
                </p>
            </a>
        </td>
        <td class="ThumbBox">
            <a title="Gallery" href="/gallery/5">
                <img src="/images/TWifi.jpg" alt="Picture" width="100" height="75" />
                <p class="ThumbCaption">
                    Free Internet
                </p>
            </a>
        </td>
    </tr>
    <tr>
        <td class="ThumbBox">
            <a title="Gallery" href="/gallery/6">
                <img src="/images/TShower.jpg" alt="Picture" width="75" height="100" />
                <p class="ThumbCaption">
                    Showers
                </p>
            </a>
        </td>
        <td class="ThumbBox">
            <a title="Gallery" href="/gallery/7">
                <img src="/images/TBunks.jpg" alt="Picture" width="100" height="75" />
                <p class="ThumbCaption">
                    Bunks
                </p>
            </a>
        </td>
        <td class="ThumbBox">
            <a title="Gallery" href="/gallery/8">
                <img src="/images/TPressureWash.jpg" alt="Picture" width="100" height="75" />
                <p class="ThumbCaption">
                    Pressure Wash
                </p>
            </a>
        </td>
    </tr>
</table>
{% endblock %}

