{% extends "layout.html" %}
{% block image %}GuestAccommodation.jpg{% endblock %}
{% block caption %}Womerton Farm Guest Accommodation{% endblock %}
{% block content %}
<h1>Accommodation</h1>
<ul>
	<li>Bunk room with beds for 6 people</li>
	<li>Two double sofa beds</li>
	<li>Comfortable lounge</li>
	<li>Fully equipped kitchen</li>
	<li>Two wet rooms with superb showers</li>
	<li>Loads of hot water</li>
	<li>Full central heating included</li>
	<li>Free WiFi Internet access</li>
	<li>CD, radio and colour TV</li>
	<li>Plenty of parking</li>
	<li>Bed linen and towels <b>not</b> included</li>
</ul>
<p>The bunkhouse has neighbours, so no noise after midnight, please.</p>
{% endblock %}