{% extends "layout.html" %}
{% block image %}Bikers.jpg{% endblock %}
{% block caption %}Biker Girls of Womerton{% endblock %}
{% block content %}
<p>
     <em>&quot;Lovely relaxing and cosy, had a wonderful stay&quot;</em>
     <div align="right">
         The Kiwi Girls</div>
 </p>
 <p>
     <em>&quot;Great views, great base for walking and biking, terrific facilities&quot;
     </em>
     <div align="right">
         Matt, Hampshire</div>
 </p>
 <p>
     <em>&quot;Lovely setting for a romantic weekend&quot; </em>
     <div align="right">
         Caroline, Bath</div>
 </p>
 <p>
     <em>&quot;Fantastic weekend, very friendly place, wish that all places were run by people
         like Tony, he's great!&quot; </em>
     <div align="right">
         Wiltshire Warriors</div>
 </p>
{% endblock %}