{% extends "layout.html" %}
{% block image %}FarmGate.jpg{% endblock %}
{% block caption %}Womerton Farm Gate{% endblock %}
{% block content %}
<form id="Contact_Form" name="Contact_Form" onsubmit="JavaScript:return validateForm(this);"
action="/send" method="post">
<table>
    <tbody>
        <tr>
            <td>
                Message <span id="MessageError" style="color: red;">&nbsp;</span>
                <br/>
                <textarea id="Message" name="Message" rows="10" cols="32"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                Email address<span id="FromError" style="color: red;">&nbsp;</span>
                <br/>
                <input id="From" name="From" maxlength="50" size="41">
            </td>
        </tr>
        <tr>
            <td>
                <input id="Clear" type="reset" value="Clear" name="btnClear" />
                <input id="btnSend" type="submit" value="Send" name="btnSend" />
            </td>
        </tr>
    </tbody>
</table>
</form>
<p>Womerton Farm, All Stretton, Church Stretton, Shropshire, SY6 6LJ</p>
<script type="text/javascript" src="/js/email.js"></script>
 {% endblock %}