{% extends "layout.html" %}
{% block image %}WrekinBeyond.jpg{% endblock %}
{% block caption %}Womerton Bunkhouse and the Wrekin beyond{% endblock %}
{% block content %}
<h1>Womerton Bunkhouse</h1>
<p>
	Luxurious bunkhouse style <A href="/accommodation/">accommodation</A>,
	ideal for groups and family gatherings.
</p>
<p>
	Nestling in the beautiful <a
		href="http://www.shropshirehillsaonb.co.uk">Shropshire Hills Area
		of Outstanding Natural Beauty</a> and providing easy access to the
	stunning <a href="http://en.wikipedia.org/wiki/Long_Mynd">Long Mynd</a>.
</p>
<p>
	Less than 4 miles from <a href="http://www.churchstretton.co.uk/">Church
		Stretton</a>.
</p>
<p>
	Close to the <a href="http://en.wikipedia.org/wiki/Jack_Mytton_Way">Jack
		Mytton Way</a>, Shropshire's long distance bridleway.
</p>
<p>
	An ideal base for walking or mountain biking (mountain bike hire from <a
		href="http://www.plushhillcycles.co.uk/">Plush Hill Cycles</a> in
	Church Stretton).
</p>
{% endblock %}